.spicy_table{
    background-color: white;
    margin: 5px;
    width: 850px;
    table-layout:fixed;
}
.spicy_table td {
    border: black solid 1px;
    width: 40px;
    height: 10px;
    padding: 2px;
    margin: 3px
}
.spicy_table td:hover{
    background-color: #fd7e14;
}

.center_raster {
    background-color: palegoldenrod;
}

.spicy_table_wrapper{
    width:  200px;
    height: 200px;
    overflow:auto;
    position: absolute;
    left: 21px;
    top: 50px;
}

.raster {
    background-color: #356AA0;
}

.terasa {
    background-color: #ace5a1;
}

.balkon {
    background-color: indianred ;
}


.spicy_element_candidate {
    background-color: #fcf8e3;
}

.css-title:before {
    content: "Spicy Garden House";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.css-title :first-child {
    margin-top: 20px;
}



#configurator{

    width:100%;

}

#lcol{
    float:left;
    width:260px !important;
    height: 100vh;
}

#selector{
    height: 260px;
    text-align: center;
}

#lastnosti{
    height: 50%;
}

.poudarek{
    background-color: #cce0ff;
    padding: 3px;
    line-height: 20px;

}

.besedilo_naslov{
    color: midnightblue;
    font-size: small;
    font-family: sans-serif;
    font-style: italic;
}

#info{
    background-color: lightyellow;
}

.imgFocus{
    border:2px solid #fe0000;
}


.celaSirina{
    width: 100%;
}

#idSelectBarvaStrehe{
    width: 100px !important;
   cursor: pointer;
    height: 12px;
}
#idSelectBarvaFasade{
    width: 100px !important;
    cursor: pointer;
    height: 12px;
}

/* for three.js*/
#canvas {
    float:left;
    background-color: #000;
    width: 80%;
    height: 100vh;
    /*margin:10px;
    padding: 10px;
    position: static; /* fixed or static */

}

.selected_div{
    width:1px;
    height:1px;
    display: none;
    position:absolute;
}

.p_desno{
    position:absolute;
    left:222px;
    top: 50px;
}

.p_levo{
    position:absolute;
    left:1px;
    top: 50px;
}
.p_gor{
    position:absolute;
    left:21px;
    top: 30px;
}

.p_dol{
    position:absolute;
    left:21px;
    top: 230px;
}

.desno_zgoraj{
    position:fixed;
    top:10px;
    right: 10px;
    width: 200px;
    border: darkred 1px solid;
    font-size: small;
    text-align: center;
    background-color: white;

}

.spodaj_center{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: darkred 1px solid;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.spodaj_levo{
    position: fixed;
    left: 260px;
    bottom: 20px;
    width:310px;
    height: 310px;
    overflow: auto;
    margin: 0 auto;
    border: darkred 1px solid;
    background-color: white;
}

.spodaj_desno{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width:310px;
    height: 310px;
    margin: 0 auto;
    border: darkred 1px solid;
    background-color: white;
}

.okvir{
    border: darkred 1px solid;
    text-align: center;

}

/**
Micromodal
 */